h1 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 5rem;
    font-style: italic;
}
nav{
    
    h2{
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        font-style: italic;
    }
}
section{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight:  200;
    font-size: 1.5rem;
    font-style: italic;
}
footer{
    h2{
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        font-style: italic;
    }
}    