$text-header : #fffF;
$bg-header : black;
$text-nav : #fffF;
$bg-nav: rgb(17, 104, 218);
$text-main :black;
$bg-main : rgba(70, 68, 68, 0.571);
$text-article: white;
$bg-article: #15DEA5;
$text-div : black;
$bg-div: orange;
$text-aside: black;
$bg-aside : rgb(199, 109, 226);