h1 {
    text-transform: uppercase;
    font: 2rem "Calibri",sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
nav{
    
    h2{
        text-transform: uppercase;
        font: 2rem "Calibri",sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
    }
}
section{

    text-transform: uppercase;
    font: 1.8rem "Calibri",sans-serif;
    letter-spacing: 2px;
    #text-section{
        font-size: 1.8rem;
        font-weight: 100;
    }
    .font-weight{
        font-weight: 100;
    }
}
footer{
    h2{
        text-transform: uppercase;
        font: 2rem "Calibri",sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
    }
}    