@font-face {
    font-family: "font-1";
    src: url(./RussoOne-Regular.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(./Silkscreen-Regular.ttf);
}


*{
    color: white;
    font-family: Calibri;
}